<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">

<title>Index Contact Details</title>


</head>
<body>
	<div>
		<h2>Contact Details</h2>
		<table>
			<thead>
				<tr>
					<th>Contact ID</th>
					<th>Phone Number</th>
					<th>Email Address</th>
					<th>First Name</th>
					<th>Last Name</th>

				</tr>
			</thead>
			<tbody>
				<tr th:each="contactDetail : ${contactDetailAttr}">
					<td th:text="${contactDetail.contactId}"></td>
					<td th:text="${contactDetail.phoneNumber}"></td>
					<td th:text="${contactDetail.emailAddress}"></td>
					<td th:text="${contactDetail.firstName}"></td>
					<td th:text="${contactDetail.lastName}"></td>
					<td><a th:href="@{/editcontactdetail/{id}(id=${contactDetail.contactId})}">Edit</a></td>
					<td><a th:href="@{/deletecontactdetail/{id}(id=${contactDetail.contactId})}">Delete</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<br>
	<p>
		<a href="/contactdetailsignup">Add a Contact Detail</a>
		<a href="/">Home</a>
	</p>
</body>
</html>