<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Update Property Details</title>
</head>
<body>

	<div>
		<form action="#" th:action="@{/updateproperty/{id}(id=${propertyAttr.propertyId})}" th:object="${propertyAttr}" method="post">
			
			<label for="propertyId">Property ID</label> 
			<input type="text" th:field="*{propertyId}" id="propertyId" placeholder="Property ID">
			<span th:if="${#fields.hasErrors('propertyId')}" th:errors="*{propertyId}"></span> 
			
			<label for="propertyHost.hostId">Host ID</label> 
			<input type="text" th:field="*{propertyHost.hostId}" id="propertyHost.hostId" placeholder="Host ID">
			<span th:if="${#fields.hasErrors('propertyHost.hostId')}" th:errors="*{propertyHost.hostId}"></span> 
			
			<label for="propertyLocation.locationId">Location ID</label> 
			<input type="text" th:field="*{propertyLocation.locationId}" id="propertyLocation.locationId" placeholder="Location ID">
			<span th:if="${#fields.hasErrors('propertyLocation.locationId')}" th:errors="*{propertyLocation.locationId}"></span> 
			
			<label for="propertyType.propertyTypeId">Property Type ID</label> 
			<input type="text" th:field="*{propertyType.propertyTypeId}" id="propertyType.propertyTypeId" placeholder="Property Type ID">
			<span th:if="${#fields.hasErrors('propertyType.propertyTypeId')}" th:errors="*{propertyType.propertyTypeId}"></span>  
			
			<label for="nightlyRate">Nightly Rate</label> 
			<input type="text" th:field="*{nightlyRate}" id="nightlyRate" placeholder="Nightly Rate £">
			<span th:if="${#fields.hasErrors('nightlyRate')}" th:errors="*{nightlyRate}"></span> 
			
			<input type="submit" value="Update Property Details">
		</form>
		<a href="/">Home</a>
	</div>

</body>
</html>